<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<connectionStrings>
	<add name="DB"
		     connectionString = "Data Source=x.x.x.x;Initial Catalog=xxx;Integrated Security=False;User ID=xxx;Password=xxx;"
		     providerName     = "SqlServer" />
	</connectionStrings>

</configuration>